<style>


	#profile{
		background-color:white;
		margin-top:30px;
		margin-bottom:10px;
	}

	#picture{
		width:40%;
		margin-top:70px;
		margin-right:30px;
		float:left;
	}

	#introduction{
		background-color:white;
		margin-top:100px;
	}

	#introduction span{
		font-size:1.2em;
	}

	.item-publication{
		list-style-type: none;
		font-size:1.0em;
		padding:10px 0px 0px 0px;
	}
	
	#education-list{
		font-size:1.2em;
		list-style-type:none;
		padding:10px 0px 0px 0px;
	}

	#award-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

	#career-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

	#funding-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

        ul.updates {
            list-style-type: none;
            padding-left:0;
        }

	.date {
	  color: #223fbb;
	  font-size: medium;
	  font-family: monospace;
	  font-weight: bold;
	  padding-right: 1em;
	  padding-left: 3em;
	  vertical-align: 12.5%;
	}

    li.pubs-heading {
      padding-bottom: 15px;
    }

    .pubs-heading-text {
      font-weight: bold;
      font-size: small;
      text-transform: capitalize;
    }

    li.pubs-element {
      list-style-type: none;
      padding-bottom: 12px;
    }
    ul.pubslist {
      list-style-type: none;
      margin-left:0;
      padding-left:0;
      font-size: 100%;
      padding-bottom: 12px;
    }

    h1,h2,h3,h4,h5,h6 {
      color: #444;
      /* font-family: 'myriad-pro-condensed'; */
      font-family: 'Palanquin Dark';
      text-transform: uppercase;
    }
    
    /* palanquin-dark-regular - latin */
    @font-face {
      font-family: 'Palanquin Dark';
      font-style: normal;
      font-weight: 700;
      src: url('fonts/palanquin-dark-v3-latin-regular.eot'); /* IE9 Compat Modes */
      src: local('Palanquin Dark Regular'), local('PalanquinDark-Regular'),
           url('fonts/palanquin-dark-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('fonts/palanquin-dark-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
           url('fonts/palanquin-dark-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
           url('fonts/palanquin-dark-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('fonts/palanquin-dark-v3-latin-regular.svg#PalanquinDark') format('svg'); /* Legacy iOS */
    }

    img.header {
      width: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

    h3.header {
      text-align: center;
      margin-top: 5px;
    }
</style>
