<style>

	#profile{
		background-color:white;
		margin-top:30px;
		margin-bottom:10px;
	}

	#picture{
		width:40%;
		margin-top:70px;
		margin-right:30px;
		float:left;
	}

	#introduction{
		background-color:white;
		margin-top:100px;
	}

	#introduction span{
		font-size:1.2em;
	}

	.item-publication{
		list-style-type: none;
		font-size:1.2em;
		padding:10px 0px 0px 0px;
	}
	
	#education-list{
		font-size:1.2em;
		list-style-type:none;
		padding:10px 0px 0px 0px;
	}

	#award-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

	#career-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

	#funding-list{
		font-size:1.2em;
		list-style-type:none;
		padding:5px 0px 0px 0px;
	}

</style>
