.shortdesc {
    font-size: 24px;
    color: #444;
    font-weight: 300;
}

.title, .type, .menuchoice, .heading, .section {
    text-transform: uppercase;
    letter-spacing: .18em;
    font-size: 10px;
}

.title {
    margin-top: 20px;
    color: #495b66;
    color: #222;
}

.title-lowercase {
    text-transform: none;
    margin-top: 20px;
    color: #495b66;
    color: #222;
}

.section {
    color: #990000;
}

.heading {
    font-weight: bold;
}

.type {
    color: #888888;
}

.littlepara {
    color: #444;
    font-size: 12px;
}

.menuchoice {
    color: #000;
    margin-bottom 8px;
}

#moreaboutlab, #elsewhere {
    font-size: 12px;
    color: #999;
}

a img { border: 0; text-decoration: none; }
a { text-decoration: none !important; border-bottom-color: #64686C !important; border-bottom-style: solid !important; border-bottom-width: 1px !important;  color: #666 !important; padding-bottom: 1px !important; }
a:hover { background: #888; color: white !important; text-decoration: none; border-bottom-width: 0px  !important; }
