
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Contact</h3>
    </div>
    <p><a href="mailto:tjc@cs.rit.edu">tjc@cs.rit.edu</a></p> 
    <address>
    GOL-3525<br />
    20 Lomb Memorial Dr <br />
    <a href="http://www.cs.rit.edu/">Computer Science Department</a><br />
    <a href="http://www.rit.edu/">Rochester Institute of Technology</a><br />
    Rochester, NY 14623<br />
    <a class="btn btn-default btn-xs tag" href="https://www.google.com/maps/place/B.+Thomas+Golisano+College+of+Computing+and+Information+Sciences/@43.0835394,-77.6786038,17z/data=!3m1!5s0x89d14c5f1b22852d:0x28aa2e767ee02fd0!4m12!1m6!3m5!1s0x89d14c603a147e55:0xbe7eb31ed5e22c03!2sRochester+Institute+of+Technology!8m2!3d43.0845894!4d-77.6743445!3m4!1s0x89d14c5f0e79fc29:0x7d07467604d60318!8m2!3d43.0844325!4d-77.6800078?hl=en" role="button">Map</a> 
    </address> 
    <a href="assets/tijay.pgp.asc">PGP public key</a><br />
    <a data-toggle='modal' data-target='#bio'>Bio</a><br />
    <a href="cv_tjchung.pdf">CV</a> (Updated at Apr., 2019)<br/>
    <a href="https://scholar.google.com/citations?user=_0mWbaoAAAAJ&hl=en">Google Scholar</a>
    </p>
    <div class='modal fade' id='bio' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    <h4 class='modal-title'>Taejoong (Tijay) Chung Bio</h4></div>
                        <div class='modal-body'> Taejoong (Tijay) Chung is an Assistant Professor at the Computer Science department in B. Thomas Golisano College of Computing and Information Sciences at the Rocheter Institute of Technology. He received his Ph.D. in Computer Science and Engineering from Seoul National University in 2015. His work focuses on Internet security, privacy implications, and Internet measurement. He received the <a href="https://irtf.org/anrp/">IRTF Applied Networking Research Prize</a> (2019), <a href="https://www.usenix.org/conferences/best-papers">USENIX Security Distinguished Paper Award</a> (2017), and Best Paper Award at IEEE Computer Society (ComSoc) Seoul Chapter (2010).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
