    
<div class="">
    <div class="panel-body" id='funding'>
        <ul id="fundinglist" class="fundinglist">
        </ul>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script>
    function oxford(arr) {

        for (i = 0;i < arr.length; i++){
            if(arr[i] == "Taejoong Chung"){
                arr[i] = "<span style='color:#223fbb'>Taejoong Chung</span>"
            }
        }
            return (arr.length > 2 ? arr.slice(0, arr.length-1).join(", ") + ", and " + arr[arr.length-1] : arr.join(" and "));
    }
    function formatnumber(d) {
     return d.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function formatdate(d) {
      return d.toDateString().substr(4);
    }

    var funding_sort_key = "agency";
    var funding = "";

    $(document).ready(function () {
      queue()
      .defer(d3.json, "json/fundings.json")
      .await(function(error, p) {
        funding = p;
        funding.forEach(function (d) { d["year"] = d["start"].substring(3,7);});
        renderfundings();
      });

      $('#funding-sort-date').on('click', function (e) {
        funding_sort_key = "year";
        renderfundings();
      });

      $('#funding-sort-funder').on('click', function (e) {
        funding_sort_key = "agency";
        renderfundings();
      });

      $('#funding-sort-type').on('click', function (e) {
        funding_sort_key = "type";
        renderfundings();
      });
    });

    function renderfundings() {
      d3.select("#fundinglist")
       .html("");

      var sorted = d3.nest()
        .key(function(d) { return d[funding_sort_key];})
        .rollup(function(d) {
           return d;
         }).entries(funding);

      d3.select("#fundinglist")
       .selectAll("li")
         .data(sorted)
       .enter().append("li")
         .attr("class", "pubs-heading")
         .html(function (d) { return "<h4>" + d.key + "</h4>"; })
         .append("ul")
         .attr("class", "pubs-elementlist")
       .selectAll("li")
         .data(function (d) { return d.values; })
       .enter().append("li")
         .attr("class", "pubs-element")
         .html(renderfunding);

      d3.select("#fundinglist")
        .selectAll(".pubs-heading")
        .sort(function (a,b) { return (funding_sort_key == "year" ? d3.descending(a.key, b.key) : d3.ascending(a.key, b.key)); })
     }

     function renderfunding(d) {
       var result = "";

       if (funding_sort_key != "agency") { result = d["agency"] + ". "; }

       result += (d["link"] ? "<a href='" + d["link"] + "'>" : "") + "<i>" + d["title"] + "</i>" + (d["link"] ? "</a>" : "") + ", " + (d["number"] ? d["number"] + ", " : "") + d["start"] + (d["end"] ? "&ndash;" + d["end"] : "") + ". " + d["role"];
       if (d["pis"]) {
          result += ", joint with " + oxford(d["pis"]);
       }

       result += ". " + (d["currency"] ? d["currency"] : "$") + formatnumber(d["amount"]);

       if (d["amount_total"]) {
         result += " (VT), " + (d["currency"] ? d["currency"] : "$") + formatnumber(d["amount_total"]) + " (total)";
       }

       result += ".";

       if (! d["hide"])
         return result;
     }
  </script>
    </div>

</div>
